# EVN Schlüssel eingeben zB. "36C66639E48A8CA4D6BC8B282A793BBB"
evn_schluessel = "enter your key here and rename to evnkeyfile.py"

# thingspeak api key
thingspeakapikey = "enter your api key for thingspeak here"

