[Unit]
Description=SmartMeterData Script
After=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/SmartMeterEVNSagemcom-T210-D/
ExecStart=/usr/bin/python3 AusleseSkript.py
Restart=always
RuntimeMaxSec=6h

[Install]
WantedBy=multi-user.target

# Place in /etc/systemd/system or use the service.sh script 
# systemctl daemon-reload
# systemctl start smartmeter.service
# systemctl status smartmeter.service
# systemctl enable smartmeter.service
# systemctl disable smartmetere.service
# https://www.shubhamdipt.com/blog/how-to-create-a-systemd-service-in-linux/

